.panel {
  background-color: var(--svv-lys-grå);
}

.header {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 0;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.header_wrapper {
  border-bottom: var(--svv-oransje) solid 2px;
}

.content_wrapper {
  padding: 1.5rem;
}
