.informasjonspanel {
  margin: 2rem;
  width: 100%;
}
.panelinnhold {
  display: inline;
}

@media (min-width: 768px) {
  .informasjonspanel {
    padding: 0 2rem;
    width: auto;
  }
  .panelinnhold {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-evenly;
  }
}
