.tittel {
  font-size: 1.5rem;
  margin-left: 2rem;
  margin-top: 2rem;
  text-align: left;
}

.tittel::after {
  background: var(--svv-oransje);
  content: "";
  display: block;
  height: 4px;
  margin: 0.9375rem 0 0;
  width: 5rem;
}

.lenkeliste {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 2rem;
}

.infoseksjon {
  padding: 0 2rem 2rem 2rem;
}
