.tittel {
  font-size: 1.5rem;
  text-align: left;
  margin-left: 2rem;
  margin-top: 2rem;
}

.tittel::after {
  content: "";
  display: block;
  margin: 0.9375rem 0 0;
  width: 5rem;
  height: 4px;
  background: var(--svv-oransje);
}

.lenkeliste {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
